
/* -------------- EXPLORE-COLECTIONS SECTION --------------*/

.explore-collections-title {
    font-size: 44px;
    line-height: 56px;
    text-align: center;
}

.explore-collections-link {
    font-family: Bakbak One;
    font-size: 14px;
    line-height: 20px;
    /*text-align: center;*/
    text-transform: uppercase;
    color: #888B8E;
}

.explore-collections-actual-link {
    font-family: Bakbak One;
    font-size: 14px;
    line-height: 20px;
    /*text-align: center;*/
    text-transform: uppercase;
    color: #21E786;
}

/* -------------- CATALOG SECTION --------------*/

/* -------------- catalog header --------------*/

.catalog-header-title {
    text-align: left;
}

.catalog-input {
    line-height: 26px;
    text-align: left;
    background-color: #141B22;
    border: none;   
}

.catalog-input ::placeholder {
    color: #888B8E;
}

/* -------------- catalog filter --------------*/

.catalog-filter {
    background-color: #141B22;
}

.catalog-filter-option {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    color: #F7F7F7;
    background-color: #141B22;
    border: 1px solid #41454A;
}

.catalog-filter-reset-btn {
    font-family: Bakbak One;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    color: #21E786;
    background-color: #141B22;
    border: none;
}

/* -------------- catalog range --------------*/

.catalog-range-item {
    background-color: #FFFFFF0D;
}

/*.catalog-range-img {
       
}
*/
.catalog-range-title {
    font-family: Bakbak One;
    font-size: 20px;
    line-height: 28px;
    /*text-align: center;*/
    text-transform: uppercase;
    color: #FFFFFF;
}

/* -------------- FOOTER SECTION --------------*/

/* -------------- footer-catalog-navigation --------------*/

.footer-catalog-logo-link {
    font-family: Bakbak One;
    font-size: 30px;
    line-height: 42px;
    text-align: left;
    text-transform: uppercase;
    color: #FFFFFF;
}

.footer-catalog-logo-text {
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}

.footer-nav-title {
    font-size: 16px;
    line-height: 24px;
    /*text-align: center;*/
}









