body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    background-color: #0D0D11;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Bakbak One;
    font-weight: 400;
    color: #FFFFFF;
}

h2 {
    font-size: 44px;
    line-height: 56px;
    text-align: center;
}

p {
    font-size: 18px;
    line-height: 28px;
    text-align: left;
    color: #C2C3C5;
}

.logo-header-link {
    font-family: Bakbak One;
    font-size: 32px;
    line-height: 30px;
    color: #FFFFFF;
    text-align: left;
}

.header-nav-item-link {
    font-family: Bakbak One;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.header-discord-link {
    font-family: Bakbak One;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #141B22;
}

.header-connect-btn {
    font-family: Bakbak One;
    font-size: 16px;
    line-height: 1.5;
    text-transform: uppercase;
    color: #141B22;
    background-color: #21E786;
}

/* -------------- HERO SECTION --------------*/

.hero-title {
    font-size: 72px;
    line-height: 1.1;
}

.accent {
    color: #21E786;
}

.hero-num-item {
    font-family: Bakbak One;
    font-size: 44px;
    line-height: 1.3;
    color: #FFFFFF;
}

.hero-btn-connect {
    font-family: Bakbak One;
    font-size: 16px;
    line-height: 1.5;
    text-transform: uppercase;
    color: #141B22;
    background-color: #21E786;
}

.hero-btn-whitelist {
    font-family: Bakbak One;
    font-size: 16px;
    line-height: 1.5;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #0D0D11;
    border: 2px solid #21E786;
}

/* -------------- CARD-BAR SECTION --------------*/

.card-item {
    background: #FFFFFF0D;

}

.card-item-link {
    font-family: Bakbak One;
    font-size: 20px;
    line-height: 1.4;
    text-transform: uppercase;
    color: #FFFFFF;
}

/* -------------- ABOUT-US SECTION --------------*/

.about-us-item {
    background-color: #141B22;
}

.about-us-item-title {
    font-family: Bakbak One;
    font-size: 24px;
    line-height: 30px;
    text-align: left;
    text-transform: uppercase;
}

.about-us-btn {
    font-family: Bakbak One;
    font-size: 16px;
    line-height: 1.5;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #0D0D11;
    border: 2px solid #21E786;
}

/* -------------- BINABOX-WORK SECTION --------------*/

.binabox-work-item {
    background-color: #141B22;
}

.binabox-work-card-title {
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #21E786;
}

.binabox-work-card-text {
    font-family: Bakbak One;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
}

/* -------------- MAP SECTION --------------*/

.map-block-info {
    background-color: #FFFFFF0D;
}

.map-block-describe-title {
    font-size: 36px;
    line-height: 44px;
    text-align: left;
    text-transform: uppercase;
}

.map-block-btn {
    font-family: Bakbak One;
    font-size: 16px;
    line-height: 1.5;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #0D0D11;
    border: 2px solid #21E786;
}

.map-phase-scrollbar-title {
    font-size: 20px;
    text-transform: uppercase;
    color: #888B8E;
    ;
}

.map-block-previous-btn,
.map-block-next-btn {
    background-color: transparent;
    border: none;
    color: #888B8E;
}

/* -------------- OUT-TEAM SECTION --------------*/

.team-item {
    background-color: #141B22;
}

.team-item-title {
    font-size: 24px;
    line-height: 30px;
    text-align: center;
}

.team-item-text {
    text-align: center;
}

/* -------------- FAQS SECTION --------------*/

.faqs-item {
    font-family: Bakbak One;
    font-size: 24px;
    line-height: 30px;
    text-align: left;
    color: #FFFFFF;
}

/* -------------- FOOTER SECTION --------------*/

.join-us-discord-link {
    font-family: Bakbak One;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #5865F2;

}

.join-us-whitelist-btn,
.join-us-subscribe-btn {
    font-family: Bakbak One;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-transform: uppercase;
    color: #141B22;
    background-color: #21E786;
}

.join-us-subscribe-input {
    font-weight: 400;
    text-align: left;
    background-color: #C2C3C5;
    opacity: 15%;
}

.join-us-socialmedia-item {
    background-color: #C2C3C5;
    opacity: 15%;
}

.logo-footer-link {
    font-family: Bakbak One;
    font-size: 22px;
    line-height: 30px;
    text-align: left;
    color: #FFFFFF;
}

.footer-copyright {
    font-size: 14px;
    line-height: 22px;
    /*text-align: right;*/
}

.footer-nav-link {
    font-size: 14px;
    line-height: 22px;
    /*text-align: right;*/
    text-transform:capitalize;
    color: #C2C3C5;
}























