* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.56;
  color: #c2c3c5;
  background-color: #0d0d11;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

figure {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

dl {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: #c2c3c5;
  -webkit-box-shadow: 0 0 0 100px #262729 inset;
}

img {
  display: block;
  /*max-width: 100%;*/
  /*height: auto;*/
}

.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.container {
  max-width: 1410px;
  margin: 0 auto;
  /*padding: 0 30px;*/

  outline: 1px solid red;
}

.title {
  font-family: "Bakbak One","Poppins", Arial, sans-serif;
  font-weight: 400;
}

.header {
  position: sticky;
  top: 0;
  background-color: #0d0d11;
  z-index: 99;
}

.header-wrapper.container {
  padding-top: 30px;
  padding-bottom: 30px;
}

.header-wrapper {
  display: flex;
  justify-content: center;
}

.header .logo-link {
  font-family: "Bakbak One", Arial, sans-serif;
  font-size: 32px;
  line-height: 1.31;
  color: #fff;
  text-align: left;
  display: flex;
  align-items: center;
  margin-right: 67px;
}

.header .logo-img {
  width: 100%;
  margin-right: 16px;
}

.header-nav {
  display: flex;
  align-items: center;
  margin-right: 62px;
}

.header-nav-list {
  display: flex;
  gap: 32px;
}

.header-nav-link {
  display: flex;
  flex-wrap: nowrap;
  gap: 8px;
  font-family: "Bakbak One", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fff;
}

.header-nav-link:hover,
.header-nav-link:focus {
  text-decoration: underline;
  text-underline-offset: 6px;
  text-decoration-color: #21E786;
}

.connect-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.mode-btn {
  background-color: transparent;
  border: none;
  width: 48px;
  height: 48px;
  padding: 0;
}

.mode-icon {
  width: 48px;
  height: 48px;
  padding: 12px;
  background-color: #141b22;
  border: none;
  border-radius: 50%;
  fill: #21e786;
}

.mode-icon:hover {
  background-color: #21e786;
  fill: #1b2226;
}

.header-discord-link {
  font-family: "Bakbak One", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #fff;
  background-color: #141b22;
  border: 2px solid #141b22;
  padding: 12px 24px;
  gap: 8px;
  display: flex;
}

.header-discord-link:hover,
.header-discord-link:focus {
  background-color: #1e2832;
  border: 2px solid #141b22;
}

.header-connect-btn {
  font-family: "Bakbak One", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #141b22;
  background-color: #21e786;
  border: none;
  padding: 12px 24px;
  gap: 8px;
  display: flex;
}

/* -------------- HERO SECTION --------------*/

.hero {
  background: 
    url(../img/gradient.webp),
    linear-gradient(0.29deg, #040b11 33.65%, rgba(4, 11, 17, 0) 59.93%);
  background-repeat: no-repeat;
  margin-bottom: 60px;
}

.info-wrapper {
  padding-top: 141px;
  padding-bottom: 191px;
  width: 750px;
}

.hero-title.main-page {
  text-align: left;
  font-size: 72px;
  line-height: 1.11;
  color: #fff;
  margin-bottom: 20px;
}

.accent {
  color: #21e786;
}

.hero-main-text {
  font-size: 20px;
  line-height: 1.5;
  text-align: left;
  color: #fff;
  margin-bottom: 24px;
}

.hero-sum-wrapper {
  display: flex;
  gap: 79px;
  margin-bottom: 48px;
}

.hero-num-item {
  font-family: "Bakbak One", Arial, sans-serif;
  font-size: 44px;
  line-height: 1.27;
  color: #fff;
  text-shadow: 0px 4px 13px #ffffff66;
  margin-bottom: 8px;
}

.hero-subhead-item {
  font-size: 16px;
  line-height: 1.62;
  text-align: left;
}

.hero-btn-list {
  display: flex;
  gap: 24px;
}

.hero-btn-connect {
  font-family: "Bakbak One", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #141b22;
  background-color: #21e786;
  border: none;
  padding: 12px 24px;
}

.hero-btn-whitelist {
  font-family: "Bakbak One", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #fff;
  background-color: #0d0d11;
  border: 2px solid #21e786;
  padding: 12px 24px;
}

/* -------------- CARD-BAR SECTION --------------*/

.card-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.card-list {
  display: flex;
  gap: 30px;
}

.card-item {
  background: #ffffff0d;
}

.card-link {
  display: block;
  padding: 20px;
}

.card-item-img {
  margin-bottom: 20px;
}

.card-caption {
  font-size: 20px;
  line-height: 1.4;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

/* -------------- ABOUT-US SECTION --------------*/

.about-us {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  /*background-image: url(../img/big-star.svg);
  background-repeat: no-repeat;
  background-size: 400px 400px;
  background-position: bottom left -255px;*/ 
  position: relative;
}

.about-us::before {
  content:'';
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../img/big-star.svg);
  background-size: 400px 400px;
  background-repeat: no-repeat;
  background-position: bottom left -275px;

}

.section.title {
  font-size: 44px;
  line-height: 1.27;
  text-align: center;
  color: #fff;
  margin-bottom: 60px;
}

.section.title.about {
  margin-bottom: 16px;
}

.hero-pages {
  background-color: #141b22;
  margin-bottom: 100px;

}

.hero-pages .container {
  padding-top: 77px;
  padding-bottom: 77px;
}

.about-us-text {
  text-align: center;
  width: 930px;
  margin-bottom: 60px;
  margin: 0 auto 60px auto;
}

.about-us-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-bottom: 30px;
}

.about-us-item {
  position: relative;
  background-color: #141b22;
  width: 570px;
  padding: 82px 30px 30px 30px;
  z-index: 1;
}

.highlighting::before,
.highlighting::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 50%;
  border-width: 3px;
  border-style: solid;
  pointer-events: none;
  opacity: 0;
}

.highlighting::before {
  top: 0;
  left: 0;  
  border-image: linear-gradient(
    to bottom right,
    rgba(33, 231, 134, 1) 0%,
    rgba(33, 231, 134, 0) 25%
  )
  1;
}

.highlighting::after {
  bottom: 0;
  right: 0;
  border-image: linear-gradient(
    to top left,
    rgba(33, 231, 134, 1) 0%,
    rgba(33, 231, 134, 0) 25%
    )
    1;
  }

.highlighting:hover::before,
.highlighting:hover::after {
  opacity: 1;
}

.about-us-number {
  position: absolute;
  top: 30px;
  left: 30px;
  z-index: -1;
  font-family: "Bakbak One", Arial, sans-serif;
  font-size: 80px;
  line-height: 1.2;
  text-align: left;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #21e786;
}

.about-us-item-title {
  font-size: 24px;
  line-height: 1.25;
  text-align: left;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 26px;
}

.about-us-info-subtitle {
  font-family: "Bakbak One", Arial, sans-serif;
  font-size: 20px;
}

.about-us-info-description {
  font-family: "Bakbak One", Arial, sans-serif;
  font-size: 56px;
  line-height: 1.21;
  text-align: left;
  color: #fff;
  /*text-shadow: 0px 4px 16px 0px #FFFFFF66;*/
}

.read-more-btn {
  font-family: "Bakbak One", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #fff;
  background-color: transparent;
  border: 2px solid #21e786;
  padding: 12px 24px;
  width: fit-content;

  margin: 0 auto;
  display: block;
}

.read-more-btn:hover,
.read-more-btn:focus {
  background-color: #21e7861a;
}

/* -------------- BINABOX-WORK SECTION --------------*/

.binabox-work {
  margin-bottom: 100px;
}

.binabox-card-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.binabox-card-item {
  text-align: center;
  background-color: #141b22;
  width: 330px;
  padding: 30px 26px 26px 26px;
  position: relative;
}

.binabox-card::before {
  display: block;
  content: "";
  width: 96px;
  height: 76px;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto 20px;
}

.binabox-card.icon-card::before {
  background-image: url(../img/icons/card.svg);
}

.binabox-card.icon-check::before {
  background-image: url(../img/icons/check.svg);
}

.binabox-card.icon-money::before {
  background-image: url(../img/icons/money.svg);
}

.binabox-card.icon-shop::before {
  background-image: url(../img/icons/shop.svg);
}

.binabox-card.title {
  font-size: 22px;
  line-height: 1.36;
  text-align: center;
  text-transform: uppercase;
  color: #21e786;
}

.binabox-card-text {
  font-family: "Bakbak One", Arial, sans-serif;
  font-size: 24px;
  line-height: 1.33;
  text-align: center;
  text-transform: capitalize;
  color: #fff;
}

/* -------------- MAP SECTION --------------*/

.map {
  margin-bottom: 100px;
}

.map-info {
  display: flex;
  gap: 79px;
  background-color: #ffffff0d;
  padding: 48px 43px;
  margin-bottom: 24px;
}

.map-pictures {
  display: flex;
  gap: 20px;
}

.image-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.map-describe {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.map-describe.title {
  font-size: 36px;
  line-height: 1.22;
  align-self: baseline;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 16px;
}

.map-phase-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 30px;
}

.map-phase-item {
  display: flex;
  gap: 12px;
  align-items: center;
}

.map-describe .read-more-btn {
  margin: 0;
}

.map-pagination {
  display: flex;
  gap: 19px;
  justify-content: space-between;
  align-items: flex-start;
}

.map-pagination-btn {
  background-color: transparent;
  border: none;
}

.map-icon-arrow {
  fill: #888b8e;
  stroke: #888b8e;
}

.map-icon-arrow:hover {
  fill: #21e786;
  stroke: #21e786;
}

/**--------------------------------try to create pagination----------------------------**/

.map-pagination-list {
  display: flex;  
  width: 100%;
  }
  
.map-pagination-item {
  position: relative;
  display: flex;
  justify-content: center;
  flex: 1;
  cursor: pointer;
  font-family: "Bakbak One", Arial, sans-serif;
  text-transform: uppercase;  
}
  
.map-pagination-item::before,
.map-pagination-item::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  top: 20%;
  background-color: #434343;
  z-index: -1;
}

.map-pagination.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 76px;
  gap: 8px;
}

.map-pagination.title::before {
  content: '';
  width: 30px;
  height: 30px;   
}

.map-pagination-item .icon-elipse {
  background-image: url(../img/icons/elipse.svg);
  background-repeat: no-repeat;
  background-position: top center;
}

.map-pagination-item:hover .title {
  color: #fff;
}

.map-pagination-item:hover .icon-elipse {
  background-image: url(../img/icons/elipse-hower.svg);
  background-repeat: no-repeat;
  background-position: top center;
}

/* -------------- OUT-TEAM SECTION --------------*/

.our-team {
  margin-bottom: 100px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.team-item {
  text-align: center;
  background-color: #141b22;
  width: 330px;
  height: 339px;
  padding: 40px 20px;
  position: relative;
}

.team-img {
  margin: 0 auto 31px auto;
}

.team.title {
  font-size: 24px;
  line-height: 1.25;
  text-transform: capitalize;
  color: #fff;
}

.team-text {
  text-transform: capitalize;
  margin-bottom: 26px;
}

.team-socialmedia-list {
  display: inline-flex;
  gap: 16px;
}

.team-socialmedia-icon {
  fill: #c2c3c5;
}

/* -------------- PARTNERS SECTION --------------*/

.partners {
  margin-bottom: 100px;
}

.partners.about-us {
  margin-bottom: 100px;
}

.partner-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.partner-item {
  width: 210px;
  height: 100px;
}

.partner-link {
  display: block;
  padding: 20px 14px;
}

.partner-item:nth-child(n + 1):nth-child(-n + 6):nth-child(even) {
  background-color: #141b22;
}

.partner-item:nth-child(n + 7):nth-child(-n + 11):nth-child(odd) {
  background-color: #141b22;
}

.partner-item:nth-child(n + 13):nth-child(-n + 24):nth-child(even) {
  background-color: #141b22;
}

/* -------------- FAQS SECTION --------------*/

.faqs {
  margin-bottom: 100px;
}

.faqs.page {
    margin-bottom: 100px;
}

.faqs-wrap {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}

.faqs-list {
  background: #141b22;
  width: 930px;
}

.faqs-item {
  font-family: "Bakbak One", Arial, sans-serif;
  font-size: 24px;
  line-height: 1.25;
  text-align: left;
  background: #141b22;
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 30px 20px;
}

.faqs-item::after {
  content: "";
  width: 32px;
  height: 32px;
  opacity: 40%;
  background-image: url(../img/icons/plus+.svg);
  background-size: content;
  width: 32px;
}

.faqs-list[open] .faqs-item::after {
  opacity: 100%;
  background-image: url(../img/icons/minus-.svg);
}

.faqs-list[open] .faqs-item {
  color: #fff;
}

.faqs-list[open] .faqs-item-info {
  border-top: 1px solid #434343;
  padding: 16px 20px 30px 20px;
}

/* -------------- JOIN-US SECTION --------------*/

.join-us {
  position: relative;
  z-index: 1;
  margin-bottom: -142px;
}

.join-us .container {
  background: 
    linear-gradient(268.28deg, #2333de -1.34%, #0abe66 100%);
  padding-top: 40px;
  padding-bottom: 48px;    
}  

.join-us::before {
  content: '';
  display: block;
  position: absolute;
  background-image: url(/img/big-star.webp);
  background-repeat: no-repeat;
  background-size: cover;
  width: 255px;
  height: 255px;
  transform: rotate(-10deg);
  top: 76px;
  left: -5px;
}

.join-us::after {
  content: '';
  display: block;
  position: absolute;
  background-image: url(/img/big-star.webp);
  background-repeat: no-repeat;
  background-size: cover;
  width: 136px;
  height: 136px;
  top: 0;
  left: 700px;
}

.join-us::after {
  content: '';
  display: block;
  position: absolute;
  background-image: url(/img/big-star.webp);
  background-repeat: no-repeat;
  background-size: cover; 
  background-blend-mode: screen;
  width: 322px;
  height: 322px;
  bottom: -15px;
  right: 15px;
  overflow: hidden;
}

.section.title.join {
  margin-bottom: 8px;
}

.join-us-text {
  text-align: center;
  margin-bottom: 40px;
}

.join-us-text.white {
  color: #f7f7f9;
}

.join-us-btn-list {
  display: flex;
  justify-content: center;
  gap: 37px;
  margin-bottom: 40px;
}

.join-us .join-us-btn-list {
  margin-bottom: 0;
}

.join-us-btn-item {
  font-family: "Bakbak One", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
}

.join-us-discord-link {
  color: #fff;
  background-color: #5865f2;
  display: flex;
  gap: 8px;
  padding: 12px 24px;
}

.join-us-whitelist-btn,
.join-us-subscribe-btn {
  font-family: "Bakbak One", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  text-transform: uppercase;
  color: #141b22;
  background-color: #21e786;
  border: none;
  padding: 12px 24px;
}

/* -------------- FOOTER SECTION --------------*/

.footer.pages {
  background-color: #141B22;
}

.footer.pages .container {
  padding-top: 202px;
}

.join-us-subscribe {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.subscribe-input {
  font-size: 16px;
  line-height: 1.63;
  text-align: left;
  color: #c2c3c5;
  background-color: #c2c3c526;
  border: none;
  width: 536px;
  padding: 14px 24px;
}

.subscribe-input:focus {
  outline: none;
  color: #c2c3c5;
  background-color: #c2c3c526;
}

.subscribe-input::placeholder {
  font-size: 16px;
  line-height: 1.63;
  text-align: left;
  color: #c2c3c5;
}

.join-socialmedia-list {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 80px;
}

.join-socialmedia-item {
  background-color: #c2c3c526;
  width: 50px;
  height: 50px;
  padding: 11px;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #434343;
  padding-top: 15px;
  padding-bottom: 15px;
}

.footer-copyright-part {
  display: flex;
  align-items: center;
  gap: 60px;
}

.footer-copyright-part .logo-link {
  font-family: "Bakbak One", Arial, sans-serif;
  font-size: 22px;
  line-height: 1.36;
  text-align: left;
  color: #fff;
  display: flex;
  gap: 16px;
}

.footer-copyright {
  font-size: 14px;
  line-height: 1.57;
}

.footer-nav-list {
  display: flex;
  gap: 47px;
}

.footer-nav-link {
  font-size: 14px;
  line-height: 1.57;
  text-transform: capitalize;
  color: #c2c3c5;
}

/* -------------- CATALOG PAGE --------------*/
/* -------------- CATALOG PAGE --------------*/
/* -------------- CATALOG PAGE --------------*/

/* -------------- EXPLORE-COLECTIONS SECTION --------------*/

.hero-wrapper {
  position: relative;
  display: flex;
}

.hero-title {
  font-size: 44px;
  line-height: 1.27;
  text-align: center;
  color: #fff;
}

.hero-navigation {
  display: flex;
  justify-content: center;
}

.hero-link {
  font-family: "Bakbak One", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.43;
  text-transform: uppercase;
  color: #888b8e;
}

.actual {
  color: #21e786;
}

.hero-img {
  position: absolute;
  top: 0;
  right: -100px;
}

/* -------------- CATALOG SECTION --------------*/

.catalog {
    margin-bottom: 100px;
}

/* -------------- catalog header --------------*/

.catalog-header-title {
  font-size: 44px;
  line-height: 1.27;
  text-align: left;
  color: #fff;
}

.hero-list {
  display: flex;
  align-items: center;
  gap: 8px;
}

.vertical-line {
  border: 1px solid #888b8e;
  background-color: #888b8e;
  height: 16px;
}

.search-form {
  position: relative;
}

.catalog-input {
  font-size: 16px;
  line-height: 1.63;
  color: #c2c3c5;
  background-color: #141b22;
  border: none;
  width: 280px;
  padding: 13px 20px 9px 24px;
}

.catalog-input:focus {
  outline: none;
  color: #c2c3c5;
  background-color: #141b22;
}

.catalog-input::placeholder {
  font-size: 16px;
  line-height: 1.63;
  color: #888b8e;
}

.subscribe-input:focus {
  outline: none;
  color: #c2c3c5;
  background-color: #c2c3c526;
}

.buttonn-search {
  position: absolute;
  display: block;
  top: 13px;
  right: 20px;
  background-color: transparent;
  border: none;
}

/* -------------- catalog filter --------------*/

.catalog .container {
  display: flex;
  gap: 80px;
  margin-bottom: 100px;
}

/* -------------- sidebar --------------*/

.sidebar {
  width: 280px;
}

.sidebar-form {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.sidebar-list {
  background: #141b22;
  width: 100%;
}

.sidebar-item {
  font-family: "Bakbak One", Arial, sans-serif;
  font-size: 20px;
  line-height: 1.4;
  text-transform: uppercase;
  text-align: left;
  color: #fff;
  background: #141b22;
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 16px 12px;
  cursor: pointer;
}

.sidebar-item::after {
  content: "";
  width: 24px;
  height: 24px;
  background: url(../img/icons/plus+.svg);
  background-size: cover;
}

.sidebar-list[open] .sidebar-item::after {
  background: url(../img/icons/minus-.svg);
}

.sidebar-list[open] .sidebar-item-info {
  border-top: 1px solid #434343;
  text-transform: capitalize;
  padding: 20px 23px;
}

.sidebar-label {
  font-size: 14px;
  line-height: 1.57;
  display: block;
  position: relative;
  padding-left: 26px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.sidebar-label .sidebar-checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 2px;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: transparent;
  border: 1px solid #c2c3c5;
  border-radius: 2px;
}

/* When the checkbox is checked, add a green background */
.sidebar-checkbox:checked ~ .checkmark {
  background-color: #21e786;
  border: none;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.sidebar-label .sidebar-checkbox:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.sidebar-label .checkmark:after {
  left: 5px;
  top: 1px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.catalog-wrapper {
  width: 1050px;
}

.catalog-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.catalog-filter {
  background-color: #141b22;
  margin-bottom: 40px;
}

.catalog-filter-list {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 20px;
}

.catalog-filter-option {
  font-family: Poppins, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.63;
  text-align: left;
  color: #f7f7f7;
  background-color: #141b22;
  border: 1px solid #41454a;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 9px 13px 9px 20px;
}

.filter-icon {
  stroke: #f7f7f7;
}

.catalog-filter-reset-btn {
  font-family: "Bakbak One", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.57;
  text-align: left;
  color: #21e786;
  background-color: #141b22;
  border: none;
}

/* -------------- catalog range --------------*/

.catalog-range-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.catalog-range-item {
  background-color: #ffffff0d;
}

.catalog-range-title {
  font-family: "Bakbak One", Arial, sans-serif;
  font-size: 20px;
  line-height: 1.4;
  text-transform: uppercase;
  color: #fff;
}

/* -------------- FOOTER SECTION --------------*/

/* -------------- footer-catalog-navigation --------------*/

.footer-logo {
  width: 324px;
}

.footer-navigation .logo-img {
  width: 32px;
  height: 36px;
}

.footer-logo .logo-link {
  font-family: "Bakbak One", Arial, sans-serif;
  font-size: 30px;
  line-height: 1.4;
  text-align: left;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 12px;
  display: flex;
  gap: 16px;
}

.footer-catalog-logo-text {
  font-size: 16px;
  line-height: 1.63;
  color: #fff;
}

.footer-navigation {
  display: flex;
  gap: 156px;
  margin-bottom: 43px;
}
.footer-nav {
  display: flex;
  gap: 130px;
}

.footer-nav.title {
  font-family: "Bakbak One", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  margin-bottom: 20px;
}

.footer-nav-info .footer-nav-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  width: 83px;
}

.footer-company-info-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  width: 123px;
}

.footer-subscribe-pages {
  display: flex;
  justify-content: center;
}

.footer-subscribe .subscribe-input {
  width: 239px;
}

.subscribe-input:valid:not(:placeholder-shown) {
  border: 1px solid green;
}

.subscribe-input:invalid:not(:placeholder-shown) {
  border: 1px solid red;
}

.footer-socialmedia-list {
  display: flex;
  gap: 40px;
}

/* -------------- CATALOG-ITEM PAGE --------------*/
/* -------------- CATALOG-ITEM PAGE --------------*/
/* -------------- CATALOG-ITEM PAGE --------------*/

/* -------------- CATALOG-ITEM SECTION --------------*/

/* -------------- CATALOG-CARD --------------*/

.card {
  margin-bottom: 100px;
}

.catalog-card {
    display: flex;
    gap: 99px;
}

.card-img-wrapper {
    position: relative;
}

.card-img { 
  background: #c2c3c5;
}

.card-counter {
  background-color: #ffffff4d;
  width: 608px;
  padding: 18px 74px 20px 74px;
  position: absolute;
  left: 41px;
  bottom: 20px;
}

.card-counter-info {
  display: flex;
  gap: 22px;
  align-items: flex-start;
}

.counter-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-counter-title {
  font-family: "Bakbak One", Arial, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  color: #fff;
  margin-bottom: 12px;
}

.card-counter-quantity {
  font-family: "Bakbak One", Arial, sans-serif;
  font-size: 44px;
  line-height: 1.27;
  text-transform: uppercase;
  color: #fff;
}

.card-counter-meaning {
  font-family: "Bakbak One", Arial, sans-serif;
  font-size: 20px;
  line-height: 1.4;
  text-transform: uppercase;
  color: #f6f6f6;
}

.counter-colon {
  font-family: "Bakbak One", Arial, sans-serif;
  font-size: 36px;
  line-height: 1.22;
}

.counter-separator {
  font-family: "Bakbak One", Arial, sans-serif;
  font-size: 36px;
  line-height: 1.22;
}

.card-filter {
  display: flex;
  flex-wrap: wrap;
  row-gap: 23px;
  column-gap: 16px;
}

.card-title {
  font-family: "Bakbak One", Arial, sans-serif;
  font-size: 44px;
  font-weight: 400;
  line-height: 1.27;
  text-align: left;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 24px;
}

.card-text {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.card-filter {
  margin-bottom: 30px;
}

.card-wrapper {
  background-color: #141b22;
  width: 196px;
  height: 100px;
  padding: 20px;
}

.card-option {
  font-size: 16px;
  line-height: 1.63;
  text-align: left;
  color: #c2c3c5;
}

.card-meaning {
  font-family: "Bakbak One", Arial, sans-serif;
  font-size: 24px;
  line-height: 1.25;
  text-align: left;
  color: #fff;
  margin-inline-start: 0;
}

.card-price {
  font-family: "Bakbak One", Arial, sans-serif;
  font-size: 36px;
  line-height: 1.22;
  color: #fff;
  margin-bottom: 40px;
}

.card-buy-btn {
  font-family: "Bakbak One", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;
  color: #141b22;
  background-color: #21e786;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 16px 16px;
  margin-bottom: 24px;
  width: 100%;
}

.card-socialmedia-list {
  display: flex;
  gap: 40px;
}

.card-socialmedia-link {
  font-family: "Bakbak One", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #fff;
  border: 2px solid #888b8e;
  padding: 16px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 290px;
}

.colections.title {
  font-size: 44px;
  line-height: 1.27;
  text-align: center;
  color: #fff;
  margin-bottom: 40px;
}

.catalog-collections {
  margin-bottom: 100px;
}

.catalog-collections-range .card-list {
  justify-content: center;
  margin-bottom: 30px;
}

.scrollbar-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.scrollbar-btn {
  display: flex;
  align-items: center;
  color: #fff;
  background-color: transparent;
  border: 1px solid #21e786;
  width: 48px;
  height: 48px;
  padding: 11px;
}

.scrollbar-btn:hover,
.scrollbar-btn:focus {
  background-color: #21e786;
}

.scrollbar-icon {
  fill: #fff;
  stroke: #fff;
}

.scrollbar-btn:hover .scrollbar-icon {
  fill: #141b22;
  stroke: #141b22;
}

/* -------------- BLOG PAGE --------------*/
/* -------------- BLOG PAGE --------------*/
/* -------------- BLOG PAGE --------------*/

.blog-catalog {
  margin-bottom: 100px;
}

.blog-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 40px;
}

.blog-item {
  background: #141b22;
  width: 450px;
  padding: 30px 20px;

  position: relative;
}

.blog-card-label.title {
  font-size: 14px;
  line-height: 1.57;
  text-align: center;
  color: #fff;
  background-color: #21e786b2;
  padding: 8px 10px;
  width: fit-content;
  height: fit-content;

  position: absolute;
  top: 44px;
  right: 34px;
}

.blog-detail-card-label.title {
  font-size: 14px;
  line-height: 1.57;
  text-align: center;
  color: #fff;
  background-color: #21e786b2;
  padding: 8px 10px;
  width: fit-content;
  height: fit-content;
}

.blog-card-img {
  margin-bottom: 25px;
}

.blog-card-wrap {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 8px;
}

.blog-card-author,
.blog-card-date {
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  color: #888b8e;
  display: flex;
  gap: 6px;
}

.blog-card-author::before,
.blog-card-date::before {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.blog-card-author.icon-card::before {
  background-image: url(/img/icons/author.svg);
}

.blog-card-date.icon-card::before {
  background-image: url(/img/icons/calendar.svg);
}

.blog-card.title {
  font-size: 36px;
  line-height: 1.22;
  text-align: left;
  color: #fff;
  margin-bottom: 4px;
}

.blog-card-text {
  font-size: 20px;
  line-height: 1.5;
  text-align: left;
  color: #c2c3c5;
  margin-bottom: 20px;
}

.blog-card-btn {
  font-family: "Bakbak One", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  color: #fff;
  display: flex;
  gap: 4px;
}

.blog-card-btn::after {
  display: block;
  content: "";
  width: 19px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center;
}

.blog-card-btn.icon-card::after {
  background-image: url(/img/icons/read-arrow.svg);
}

.blog-pagination,
.blog-pagination-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.pagination-button {
  font-family: "Poppins", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.56;
  text-align: center;
  color: #fff;
  background-color: #0d0d11;
  border: 1px solid #141b22;
  width: 48px;
  height: 48px;
}

.pagination-button:hover,
.pagination-button:active {
  color: #21e786;
  background-color: #141b22;
}

/* -------------- BLOG-DETAIL PAGE --------------*/
/* -------------- BLOG-DETAIL PAGE --------------*/
/* -------------- BLOG-DETAIL PAGE --------------*/

.blog-detail {
    margin-bottom: 60px;
}

.blog-detail .wrapper {
  display: flex;
  gap: 60px;
  margin-bottom: 100px;
}

.card-detail-wrapper {
  width: 1020px;
}

.blog-detail-card {
  width: 1020px;
}

.blog-detail-card.main {
  margin-bottom: 24px;
}

.blog-detail-main-img {
  margin-bottom: 30px;
}

.detail-card.title {
  font-size: 36px;
  line-height: 1.22;
  text-transform: capitalize;
  text-align: left;
  color: #fff;
  margin-bottom: 40px;
}

.detail-card-wrapper {
  display: flex;
  justify-content: space-between;
}

.blog-detail-card .blog-card-wrap {
  gap: 12px;
  margin-bottom: 20px;
}

.blog-detail-card-author::before,
.blog-detail-card-date::before {
  display: block;
  content: "";
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center;
}

.blog-detail-card-author.icon-card::before {
  background-image: url(/img/icons/author.svg);
}

.blog-detail-card-date.icon-card::before {
  background-image: url(/img/icons/calendar.svg);
}

.blog-detail-card-author,
.blog-detail-card-date {
  font-size: 20px;
  line-height: 1.5;
  text-align: left;
  color: #888b8e;
  display: flex;
  gap: 6px;
}

.blog-detail-card-text {
  font-size: 20px;
  line-height: 1.5;
  text-align: left;
}

.blog-detail-blockquote {
  background: #21e7861a;
  border-left: 8px solid #21e786;
  text-transform: capitalize;
  padding: 26px 37px 26px 32px;
  width: 1020px;
  margin-bottom: 40px;
}

.blog-detail-quote {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.25;
  text-align: left;
  color: #fff;
  margin-inline-start: 0px;
}

.raiting {
  display: flex;
}

.raiting::before {
  display: block;
  content: "";

  width: 22px;
  height: 22px;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 4px;
}

.raiting.icon-card::before {
  background-image: url(/img/icons/star.svg);
}

.blog-detail-quote-raiting {
  font-size: 14px;
  line-height: 1.57;
  text-align: left;
  color: #bbbabe;
  margin-right: 8px;
}

.blog-detail-quote-name {
  font-family: "Bakbak One", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  color: #fff;
}

.blog-detail-card.secondary {
  margin-bottom: 20px;
}

.blog-detail-card .detail-card.title {
  margin-bottom: 12px;
}

.img-wrapper {
  display: flex;
  gap: 30px;
  margin-bottom: 30px;
}

.blog-detail-card {
  margin-bottom: 24px;
}

.blog-detail-subtitle {
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  text-transform: uppercase;
  color: #fff;
}

.blog-detail-tags {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

.blog-detail-caption,
.blog-detail-share {
  display: flex;
  gap: 12px;
}

.caption-list,
.share-list {
  display: flex;
  gap: 12px;
}

.caption-item {
  line-height: 1;
}

.caption-link {
  font-size: 12px;
  line-height: 1.5;
  text-align: left;
  text-transform: uppercase;
  color: #fff;
  background-color: #41454a66;
  padding: 8px 12px;
}

.blog-detail-articles {
  display: flex;
  justify-content: space-between;
}

.blog-detail-browsing {
  background-color: #141b22;
  width: 411px;
  padding: 20px;
}

.browsing-link {
  display: flex;
  gap: 16px;
}

.browsing-label {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.57;
  text-align: left;
  color: #888b8e;
  margin-bottom: 4px;
}

.browsing-title {
  font-size: 18px;
  font-weight: 700;
  text-align: left;
  text-transform: capitalize;
  color: #fff;
}

.search-bar {
  width: 330px;
}

.search-bar .search-form {
  margin-bottom: 21px;
}

.search-bar .catalog-input {
  width: 330px;
}

.categories,
.last-posts,
.tags {
  background-color: #141b22;
}

.categories,
.last-posts {
  margin-bottom: 40px;
}

.search-bar-subtitle {
  font-size: 24px;
  line-height: 1.25;
  text-align: left;
  text-transform: uppercase;
  color: #fff;
  padding: 16px 24px;
  border-bottom: 1px solid #434343;
}

.categories-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 12px 24px;
}

.categories-link {
  font-size: 14px;
  line-height: 1.57;
  text-align: left;
  color: #c2c3c5;
}

.categories-link:hover,
.categories-link:focus {
  color: #21e786;
}

.posts-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 20px 24px;
}

.posts-link {
  display: flex;
  gap: 16px;
}

.posts-card-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.posts-card-title {
  font-family: "Poppins", Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.56;
  text-align: left;
  text-transform: capitalize;
  color: #fff;
}

.posts-card-info {
  display: flex;
  align-items: center;
  gap: 6px;
}

.posts-card-category {
  font-size: 12px;
  line-height: 1.5;
  text-align: left;
  text-transform: uppercase;
  color: #21e786;
}

.posts-card-info .vertical-line {
  height: 12px;
}

.posts-card-date {
  font-size: 12px;
  line-height: 1.5;
  text-align: left;
  text-transform: capitalize;
  color: #888b8e;
}

.tags-list {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 24px;
  row-gap: 12px;
  column-gap: 8px;
}

.tag-link {
  font-size: 12px;
  line-height: 1.5;
  text-align: left;
  color: #fff;
  background-color: #41454a66;
  padding: 8px 12px;
}

.blog-detail-reply {
  height: fit-content;
  margin-bottom: 100px;
}

.blog-detail-reply.title {
  font-size: 36px;
  line-height: 1.22;
  text-align: left;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 4px;
}

.blog-detail-reply-text {
  font-size: 20px;
  line-height: 1.5;
  text-align: left;
  color: #c2c3c5;
  margin-bottom: 30px;
}

.input-wrapper {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.input-wrapper .reply-name,
.input-wrapper .reply-phone {
  width: 335px;
}

.input-wrapper .reply-email,
.input-wrapper .reply-website {
  width: 665px;
}

.reply-form .get-in-textarea {
  width: 1020px;
  margin-bottom: 0;
}

/* -------------- CONTACT-US PAGE --------------*/
/* -------------- CONTACT-US PAGE --------------*/
/* -------------- CONTACT-US PAGE --------------*/

.get-in-touch {
  display: flex;
  margin-bottom: 100px;
}

.contact-information {
  margin-bottom: 40px;
}

.contact-item {
  border: 1px solid #434343;
}

.contact-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.contact-item {
  width: 390px;
  padding: 40px 30px;
  text-align: center;
}

.contact-icon {
  margin-bottom: 20px;
}

.contact.title {
  font-size: 36px;
  line-height: 1.22;
  text-align: center;
  color: #fff;
}

.contact-text {
  text-align: center;
  color: #c2c3c5;
}

.get-in.title {
  font-size: 44px;
  line-height: 1.27;
  text-align: center;
  color: #fff;
}

.get-in-text {
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: #fff;
  margin-bottom: 60px;
}

.contact-us-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 690px;
}

.get-in-input,
.get-in-textarea {
  font-family: "Poppins", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.63;
  text-align: left;
  color: #c2c3c5;
  background-color: #c2c3c526;
  border: 1px solid transparent;
  padding: 14px 24px;
}

.get-in-input::placeholder,
.get-in-textarea::placeholder {
  font-family: "Poppins", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.63;
  color: #c2c3c5;
  border: 1px solid transparent;
}

.get-in-input:focus,
.get-in-textarea:focus {
  outline: none;
}

.get-in-input:valid:not(:placeholder-shown) {
  border: 1px solid #21e786;
}

.get-in-input:invalid:not(:placeholder-shown) {
  border: 1px solid red;
}

.get-in-textarea {
  height: 150px;
  resize: none;
}

.contact-info {
  display: flex;
  gap: 20px;
  width: 100%;
  margin-bottom: 20px;
}

.get-in-input.name {
  width: 236px;
}

.get-in-input.email {
  width: 100%;
}

.get-in-input.phone {
  width: 100%;
  margin-bottom: 20px;
}

.get-in-textarea {
  width: 100%;
  margin-bottom: 40px;
}

.get-in-submit-button {
  font-family: "Bakbak One", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #fff;
  background-color: #0d0d11;
  border: 1px solid #21e786;
  padding: 12px 36px;
}

/* -------------- ABOUT-US PAGE --------------*/
/* -------------- ABOUT-US PAGE --------------*/
/* -------------- ABOUT-US PAGE --------------*/

.sum-wrapper {
  display: flex;
  gap: 60px;
  justify-content: center;
  margin-bottom: 60px;
}

.sum-wrapper .subhead-item {
  font-size: 20px;
  text-align: center;
  margin-bottom: 8px;
}

.sum-wrapper .num-item {
  font-size: 56px;
  line-height: 1.21;
  text-align: center;
  color: #fff;
  text-shadow: 0px 4px 13px #ffffff66;
}

.about-list {
  display: flex;
  gap: 30px;
}

.about-list .about-us-item {
  width: 330px;
}

.about-list .about-us-number {
  -webkit-text-fill-color: #21e786;
  opacity: 30%;
  left: 125px;
}

.about-list .about-us-item-title {
  text-align: center;
}

.about-list .about-us-item-text {
  text-align: center;
}
